<%= render_breadcrumbs %> <br><br>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.body %>
</p>
 
<h2>Comments</h2>
<%= render @article.comments %>
 
<h2>Add a comment:</h2>
<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
  <p>
    <%= form.hidden_field :commenter, :value => User.current_user.role_id == User::ROLES[:Admin] ? "Admin" : User.current_user.name %>
    </p>
  <p>
    <%= form.label :type_your_comment %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
 
<% if can? :update, @article %><%= link_to 'Edit', edit_article_path(@article) %> | <% end %> 
<%= link_to 'Back', articles_path %>