
<%= form_with model: @user, url: @user.persisted? ? member_path(@user) : members_url, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :email %><br>
    <%= form.email_field :email %>
  </p>
 <% unless @user.persisted? %>
<div class="field">
    <%= form.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= form.password_field :password, autocomplete: "new-password" %>
  </div>
  <br>
  <div class="field">
    <%= form.label :password_confirmation %><br />
    <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <% end %>
  <p>
    <%= form.submit %>
  </p>
 
<% end %>